* {
    text-decoration: none;
}

body {
    background-color: black;
}

.txt-color {
    color: white;
}
.bdr{
    border: 1px solid white;
}
.header-text {
    color: #e6533c;
    font: italic 800 36px Inter, sans-serif;
}

.r-disp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape-style {
    font-family: "Goudy Old Style","Palatino","Book Antique",serif;
    font-weight: normal;
    font-style: italic;
}
.hero-des-1{
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    margin-top: 28px;
    font: 400 16px / 24px Inter, sans-serif;
}

    .header {
        display: flex;
        padding-left: 20px;
        justify-content: space-around;
        align-items: center;
    }

    .nav-items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        border-radius: 39px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 10px;
    }

    .header-text {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 200px;
    }

    .items-active {
        font-family: Inter, sans-serif;
        justify-content: center;
        border-radius: 46px;
        background-color: #e6533c;
        align-self: center;
        font-weight: 400;
        padding: 5px 20px;
        color: white;
    }

    .items {
        font-family: Inter, sans-serif;
        align-self: stretch;
        margin: auto 0;
        color: aliceblue;
    }

    #brr {
        display: none;
    }

    .hero-content {
        width: 100%;
        margin-top: 32px;
        display: flex;
        gap: 20px;
        justify-content: space-around;
    }

    .ctn-left {
        width: 50%;
        justify-content: center;
        align-items: center;

    }

    .hero-des {
       
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font: 900 50px / 80px Inter, sans-serif;
        color: aliceblue;
        padding-left: 40px;
        text-align:left;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
       
        margin-top: 20px;
        padding: 2px;
    }
    .btn-primary{
        background-color: #e6533c;
    }
    .btn {
    font-family: Inter, sans-serif;
    border-radius: 42px;
    padding: 16px 40px;
    text-decoration: none;
    color: white;   
    }

    .ctn-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-top: 20px;
    }

    .box {
        
        /* display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 10px;
        padding-right: 90px;
        display: flex;
        left: 60%;
        top: -200px; */
    }

    .box-1 {
        position: relative;
        padding: 20px;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        right: 80%;
        bottom: -200px;

    }
    