@font-face {
    font-family: miama;
    src: url(./fonts/Miama.ttf);
}

body {
    background-color: black;
}

.head-main {
    display: flex;
    justify-content: space-around;
}

.head-title {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 36px;
    line-height: 120%;
    color: #E6533C;
}

.lnks {
    text-decoration: none;
    color: aliceblue;
    font-size: large;
    font-weight: lighter;
}

.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itms {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(0, 1%, 20%);
    gap: 15px;
    border-radius: 20px;
}

.active {
    padding: 8px 20px;
    background: #E6533C;
    border-radius: 46px;
}

.ctn-left-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    color: #FFFFFF;
}

.stylish {
    font-family: 'miama';
    font-size: 78px;
    font-weight: 100;
}

.ctn-des {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);
}

.btn-1 {
    padding: 16px 40px;
    gap: 10px;
    background: #E6533C;
    border-radius: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: thin solid black;
}
.btn-container{
    gap: 10px;
}
.btn-2 {
    padding: 16px 40px;
    gap: 10px;
    background-color: black;
    border-radius: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: thin solid white;
}
.pain-1{
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: clamp(30px,50%,40px);
line-height: 40px;
letter-spacing: 1px;
color: #FFFFFF;
}
.pain-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: medium;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);
}
.box-1, .box-2{
width: 200px;
height: 98px;
background: rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.1);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 12px;
display: flex;
justify-content:center ;
align-items: center;
padding-right: 30px;
}
.box-1{
    position: absolute;
    top: 60px;
    right: clamp(10px,100px,200px);
}
.box-2{
    position: absolute;
    bottom: clamp(50px,60px,70px);
}
.ctn-right{
    aspect-ratio: 9/10;
    background: url(./images/Images\ 2.png);
    background-repeat: no-repeat;
    background-size: auto;
    place-self: stretch stretch;
    position: relative;

}
.hamburg{
    width: 25%;
}
.ctn-main{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-auto-rows: 500px;
gap: 50px 50px;
}
.ctn-left{
    place-self: center;
}
.circle{
    width: 50px;
    height: 50px;
    background-color: #E6533C;
    translate: 20px;
    border-radius: 50%;
}
@media (max-width:576px) {
    .ctn-left,.ctn-right{
        grid-column: span 2/auto;
    }
    .btn-container{
        display: flex;
        justify-content: center;
    }
    .itms{
        display: none;
    }
    .ctn-left-title,.ctn-des{
        padding-left: 20px;
    }
    
}
@media (min-width: 577px){
    .hamburg{
        display: none;
    }
}