*{
    text-decoration: none;
}
body {
    margin: 0;
}

.hero-section {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 57px 60px 0;
}

.content-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header {
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding-right: 50px;
    gap: 20px;
    white-space: nowrap;
    line-height: 120%;
}

.brand-name {
    color: #e6533c;
    font: italic 800 36px Inter, sans-serif;
}

.nav-menu {
    align-items: center;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    justify-content: space-between;
    padding: 4px;
}

.nav-item {
    font-family: Inter, sans-serif;
    align-self: stretch;
    margin: auto 0;
    color: white;
}

.nav-item-active {
    font-family: Inter, sans-serif;
    justify-content: center;
    border-radius: 46px;
    background-color: #e6533c;
    align-self: center;
    font-weight: 600;
    padding: 8px 20px;
    color: white;
}

.hero-content {
    margin-top: 32px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #fff;
    margin: auto 0;
    width: 50%;
}

.shape-style{
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

.hero-title {
    font: 900 78px/94px Inter, sans-serif;
}

.hero-description {
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    margin-top: 28px;
    font: 400 16px/24px Inter, sans-serif;
}

.cta-container {
    display: flex;
    margin-top: 28px;
    gap: 14px;
    font-size: 18px;
    font-weight: 600;
    line-height: 122%;
}

.cta-button {
    font-family: Inter, sans-serif;
    justify-content: center;
    border-radius: 42px;
    padding: 16px 40px;
    text-decoration: none;
    color: white;
}

.cta-primary {
    background-color: #e6533c;
}

.cta-secondary {
    border: 1px solid #fff;
}

.hero-image {
    aspect-ratio: 0.6;
    object-fit: cover;
    object-position: center;
    width: 40%;
    
    /* flex-grow: 1; */
}

@media (max-width: 576px) {
    .hero-section {
        padding: 0 20px;
        
    }

    .content-wrapper {
        max-width: 100%;
    }

    .header {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
        white-space: initial;
        justify-content: center;
    }

    .nav-menu {
        /* img */
        display: none;
    }

    .nav-item-active {
        white-space: initial;
    }

    .hero-content {
        max-width: 100%;
        flex-direction: column;  
    }

    .hero-text {
        max-width: 100%;
        margin-top: 40px;
        
    }

    .hero-title {
        max-width: 100%;
        font-size: 40px;
        line-height: 54px;
    }

    .hero-description {
        max-width: 100%;
    }

    .cta-container {
        flex-wrap: wrap;
    }

    .cta-button {
        padding: 16px 20px;
    }

    .hero-image {
        max-width: 100%;
        margin-top: 40px;
    }
}