body {
    background-color: black;
}

.ff {
    font-family: 'Inter';
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header . . . . ."
        "description description description description . . . ."
        "img-1 img-1 img-2 img-2 img-2 img-2 img-3 img-3"
        "img-4 img-4 img-4 img-5 img-5 img-6 img-6 img-6"
        ". bmi bmi bmi bmi . . ."
        ". bmi-des bmi-des bmi-des bmi-des bmi-des . .";
}

.header {
    grid-area: header;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    color: #FFFFFF;
    flex: 0 1 auto;
}

.description {
    grid-area: description;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.img-1 {
    grid-area: img-1;
}

.img-4 {
    grid-area: img-4;
}

.img-2 {
    grid-area: img-2;
}

.img-3 {
    grid-area: img-3;
}

.img-5 {
    grid-area: img-5;
}

.img-6 {
    grid-area: img-6;
}

.bmi {
    grid-area: bmi;
}

.bmi-des {
    grid-area: bmi-des;
}